/***************************
Content Styles
***************************/
.defaultPage ul {
  padding: 0;
  list-style-type: none;
}
.defaultPage li {
  color: black;
  font-size: 20px;

}
.defaultPage li a {
  color: black;
  font-size: 20px;

}
.defaultPage a:hover {
  color: grey;
  text-decoration: none;

}

.defaultPage {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
}
.defaultPage .inputButton {
  font-size: 15px;
  color: white;
  background-color: black;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid black;
  padding: 5px;
  margin-bottom: 10px;
}
.defaultPage .inputButton:hover {
  font-size: 15px;
  color: black;
  background-color: white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.defaultPage p {
  font-size: 20px;
}

.defaultPage li {
  list-style-type: none;
}
/***************************
Nav Bar Styles
***************************/
nav {
  margin: auto;
  width: 800px;
  margin-bottom: 20px;
  margin-top: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

nav li {
    float: left;

}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.fourthviking {
  font-size: 35px;
  color: black;
  float: left;
  margin-right: 50px;
}

/***************************
Body Styles
***************************/

body {
  background-color: white;
  font-family: 'Cinzel', serif;
}

#pageContent {
  margin: auto;
  width: 800px;
  height: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px black;
}
