/***************************
Content Styles
***************************/
.defaultPage ul {
  padding: 0;
  list-style-type: none;
}
.defaultPage li {
  color: black;
  font-size: 20px;

}
.defaultPage li a {
  color: black;
  font-size: 20px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

}
.defaultPage a:hover {
  color: #26aa00;
  text-decoration: none;

}

.defaultPage {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
}
.inputButton {
  font-size: 15px;
  color: white;
  background-color: black;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid black;
  padding: 5px;
  margin-bottom: 10px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.defaultPage .inputButton:hover {
  font-size: 15px;
  color: black;
  background-color: white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.defaultPage p {
  font-size: 20px;
}

.defaultPage li {
  list-style-type: none;
}

/***************************
Nav Bar Styles
***************************/
nav {
  margin: auto;
  width: 800px;
  margin-bottom: 20px;
  margin-top: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

nav li {
    float: left;

}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}


nav li a:hover {
    background-color: black;
    text-decoration: none;
    color: white;
}
.fourthviking {
  font-size: 34px;
  color: black;
  float: left;
  margin-right: 40px;
}

/***************************
Body Styles
***************************/

body {
  background-color: white;
  font-family: 'Cinzel', serif;
}

#pageContent {
  margin: auto;
  width: 800px;
  height: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px black;
}

#pageContent h3 {
  font-family: 'Covered By Your Grace', cursive;
}

#pageContent .inputButton {
  font-size: 15px;
  color: white;
  background-color: black;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid black;
  padding: 5px;
  margin-bottom: 10px;
}
#pageContent .inputButton:hover {
  font-size: 15px;
  color: black;
  background-color: white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.inProgress {
  font-family: "Neucha";
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
}
/***************************
Side Nav
***************************/
.logo {
  width: 160px;
  height: 150px;
  margin-left: 50px;
  position: absolute;
  cursor:pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.logo { display:block }
@media screen and (max-width:1153px) {
    .logo {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      }
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #26aa00;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#logo {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

