/***************************
Content Styles
***************************/
.defaultPage li {
  color: #003366;
  font-size: 20px;

}
.defaultPage a:hover {
  color:  #00e699;
  text-decoration: none;

}

.defaultPage {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #00e699;
}
.defaultPage .inputButton {
  font-size: 15px;
  color: #003366;
  background-color: #00e699;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #00e699;
  padding: 5px
}
.defaultPage .inputButton:hover {
  font-size: 15px;
  color: #00e699;
  background-color: #003366;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #00e699;
  padding: 5px;
}

.defaultPage p {
  font-size: 20px;
}
/***************************
Nav Bar Styles
***************************/
nav {
  margin: auto;
  width: 800px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;

}

nav li {
    float: left;

}

nav li a {
    display: block;
    color: #00e699;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    background-color: #00e699;
    border-radius: 10px;
    text-decoration: none;
    color: #003366;
}
.fourthviking {
  font-size: 35px;
  color: #00e699;
  float: left;
  margin-right: 50px;
}

/***************************
Body Styles
***************************/

body {
  background-color: #003366;
  font-family: Raleway;
}

#pageContent {
  margin: auto;
  width: 800px;
  height: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}
