/******************************************************
                        SEARCH
******************************************************/
body {
  background-color: white;
}
.searchBox {
  text-align: center;
  margin-bottom: 15px;

}
.searchBox p {
  margin-top: 10px;
  color: black;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 20px;
}
ul {
  list-style-type: none;
}
li {
  font-family: Abel;
  background: none;
  border-radius: 25px;
  border: 2px dotted;
  padding: 20px;
  color: black;
  }
li b {
  color: #26aa00;
}

/***************************
Monster Search
***************************/
div.bumpMe {
  margin-left: 40px;
}
div.bumpMe b {
  color: black;
}
