<!DOCTYPE html>
<html>
  <!--Icon -->
  <link rel="shortcut icon" type="image/png" href="../resources/img/skullIcon.ico.png">
  <!--Style Sheets-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/search.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel">
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
  <script src="../js/monsterSearch.js"></script>
  <title>The Fourth Blight | Monster Search</title>
  <div ng-app="myApp">
      <div ng-controller="monsterSearchCtrl as monster">
        <div class="searchBox">
          <p> Enter any monster information </p>
          <input type="text" ng-model="searchString">
        </div>
          <ul ng-if="searchString" ng-repeat="i in monster.jsonMonsterData | filter:searchString">
            <li>
              <b>{{i.name}}</b> <br>
              Size: {{i.size}}<br>
              Type: {{i.type}}<br>
              Subtype: {{i.subtype}}<br>
              Alignment: {{i.alignment}}<br>
              Armor Class": {{i.armor_class}}<br>
              Hit Points: {{i.hit_points}}<br>
              Hit Dice: {{i.hit_dice}}<br>
              Speed: {{i.speed}}<br><br>
              Strength: {{i.strength}}<br>
              Dexterity: {{i.dexterity}}<br>
              Constitution: {{i.constitution}}<br>
              Intelligence: {{i.intelligence}}<br>
              Wisdom: {{i.wisdom}}<br>
              Charisma": {{i.charisma}}<br>
              Wisdom Save: {{i.wisdom_save}}<br>
              Damage Vulnerabilities: {{i.damage_vulnerabilities}}<br>
              Damage Resistances: {{i.damage_resistances}}<br>
              Damage Immunities: {{i.damage_immunities}}<br>
              Condition Immunities: {{i.condition_immunities}}<br>
              Senses: {{i.senses}}<br>
              Languages: {{i.languages}}<br>
              CR: {{i.challenge_rating}}<br><br>
              Special Abilities:
                <div class="bumpMe"  ng-repeat="x in i.special_abilities">
                      <b>{{x.name}}</b> <br>
                      {{x.desc}}<br>
                      {{x.attack_bonus}}
                </div>
              Actions:
                <div class="bumpMe" ng-repeat="y in i.actions">
                      <b>{{y.name}}</b> <br>
                      {{y.desc}}<br>
                      {{y.attack_bonus}}
                      {{y.damage_dice}}
                      {{y.damage_bonus}}
                </div>
              Legendary Actions:
                <div class="bumpMe" ng-repeat="z in i.legendary_actions">
                  <b>{{z.name}}</b> <br>
                  {{z.desc}}<br>
                  {{z.attack_bonus}}
                  {{z.damage_dice}}
                  {{z.damage_bonus}}
                </div>
            </li>
          </ul>
      </div>
  </div>
</html>
