<!DOCTYPE html>
<html>
  <!--Icon -->
  <link rel="shortcut icon" type="image/png" href="../resources/img/skullIcon.ico.png">
  
  <!--Style Sheets -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/search.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel">
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
  <script src="../js/spellSearch.js"></script>
  <title>The Fourth Blight | Spell Search</title>
  <div ng-app="myApp">
      <div ng-controller="spellSearchCtrl as spell">
        <div class="searchBox">
          <p> Enter any spell information </p>
          <input type="text" ng-model="searchString">
        </div>
          <ul ng-if="searchString" ng-repeat="i in spell.jsonSpellData | filter:searchString">
            <li>
              <b>{{i.name}}</b> <br>
              {{i.desc}} <br><br>
              Page Number: {{i.page}} <br>
              Range: {{i.range}} <br>
              Components: {{i.components}} <br>
              Material: {{i.material}} <br>
              Ritual: {{i.ritual}} <br>
              Duration: {{i.duration}} <br>
              Concentration: {{i.concentration}} <br>
              Casting Time: {{i.casting_time}} <br>
              Level: {{i.level}} <br>
              School: {{i.school}} <br>
              Class: {{i.class}}
            </li>
          </ul>
      </div>
  </div>
</html>
