<div id="pageContent">
<h1><b>A withered old man approaches you on the road...</b></h1>
<h3>Welcome to the Far Weald</h3>
<p>If you knew what was good for you, you'd turn around and run back to the place from which you came. Those who call themselves "brave" seem to ignore all attempts at warning and travel further and further north. Once they realize they have made a mistake, it is too late. They have already been changed beyond repair and become another victim of the Weald.</p>
<h3>To the Survivors</h3>
<p>To those of you who have been changed beyond repair, welcome back. I intend on improving things around here to give you as much help as I can. A calendar will soon be in place in order to alert those who wish to join a party of adventurers. For now accept what you see as a token of my gratitude. It will provide you tools to better serve your journies into the dark north. If you make it back, do let me know.</p>
<a href="https://app.roll20.net/campaigns/details/884432/realms-of-estaria-the-far-weald" target="_blank"><input type="button" value="Continue Down the Road" class="inputButton" style="position: relative; left: 35%;"></a>
</div>