<div id="pageContent">
	<div class="defaultPage container-fluid">
		<h2>SRD</h2>
		<div class="row">
		  <div class="col-xs-4"><a id="spell-btn"class="btn btn-default" ui-sref="srd.spellSearch">Spell Search</a></div>
		  <div class="col-xs-4"><a id="loc-btn" class="btn btn-default" ui-sref="srd.locSearch">Location Search</a></div>
		  <div class="col-xs-4"><a id="monst-btn" class="btn btn-default" ui-sref="srd.monSearch">Monster Search</a></div>
		</div>
	</div>

	<div ui-view class="container-fluid"></div>
</div>
